<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chessfever.friendlychess">

    <application
        android:allowBackup="true"
        android:icon="@drawable/chessicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity android:name="com.chessfever.friendlychess.Black"></activity>
        <activity android:name="com.chessfever.friendlychess.White" />
        <activity android:name="com.chessfever.friendlychess.Join" />
        <activity android:name="com.chessfever.friendlychess.Create" />
        <activity android:name="com.chessfever.friendlychess.Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>